<nav class="brown">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Elum-Energie</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
        	<a href="#" data-activates="slide-out" class="button-collapse">
        		<i class="material-icons">menu</i>
        	</a>
        </li>
        <li><a href="#" data-activates="slide-out" class="sideJF"><i class="material-icons">menu</i></li>
        <li><a href="badges.html">Components</a></li>
      </ul>
    </div>
</nav>
